
#app{


    .searchBar{
        display: block;
        padding: 12px 20px;

        display: flex;
        justify-content: center;
        align-items: center;


        width: 60%;
        max-width: 300px;

        transition: all .3s ease;


        button{
            border: none;
            background-color: rgba(0,0,0,0);
            cursor: pointer;
        }

        
        .img{
            background-image: url('../images/icons/search.svg');
            width: 20px;
            height: 20px;
            // padding: 5px;
            box-sizing: border-box;
        }

        .text{
            width: 100%;
            padding: 6px 13px;
            margin-right: 20px;
            border-radius: 15px;
            border: solid 1px rgb(224, 224, 224);
            // border: none;
            color: $black;

            font-family: 'Roboto', sans-serif;
            // font-weight: bold;
        }
        
       
    }



    .articlePage{
        padding-top: 95px !important;
        

        .adDiv{
            display: none;
        }
        .articleDiv{
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
            border-radius: 5px;
            box-sizing: border-box;
            // padding: 20px 15px;
            margin: 0;
            // background-color: white;
            color: $black;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: flex-start;
            
            .article{
                margin: 0 auto;
                max-width: 900px;
                background-color: white;

                .catDate{
                    box-sizing: border-box;
                    padding: 10px 0px;
                    margin: 10px 20px;

                    border-bottom: solid 2px rgb(190, 190, 190);

                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .cat{
                        font-size: large;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        // font-weight: bold;
                    }

                    .date{
                        color: rgb(112, 112, 112);
                        
                    }
                }

                .headImg{
                    height: 450px;
                    width: 100%;
                    background-position: left center;
                    background-size: cover;
                }

                iframe{
                    max-width: 100%;
                    height: 43vw;
                    max-height: 400px;
                    // padding-bottom: 56.5%;
                }

                p{
                    line-height: 2 !important;
                }
                
                .tags{
                    
                    // padding: 0px 20px;
                    // padding-top: 60px;
                    // width: 85%;
                    
                    margin: 0 auto;

                    box-sizing: border-box;
                    padding: 0 15px;
                    padding-top: 10px;
                        a{
                            font-size: small;
                            font-weight: bold;
                            font-style: italic;
                            transition: all .2s ease;
                            text-decoration: none;
                            padding: 3px;
                            color: $black;
                            &:hover{
                                opacity: .9;
                                text-decoration: underline;
                            }
                        }
                    }
                
                .headerL{
                    font-size: xx-large;
                    font-weight: bold;
                    margin: 10px auto;
                    display: block;
                    box-sizing: border-box;
                padding: 0 20px;
                font-family: 'Lora', serif;
                }
        
                .headerM{
                    font-size: x-large;
                    font-weight: bold;
                    margin: 10px auto;
                    display: block;
                    box-sizing: border-box;
                padding: 0 20px;
                }
                .headerS{
                    font-size: small;
                    // font-weight: bold;
                    font-style: italic;
                    opacity: .7;
                    margin: 00px auto;
                    display: block;
                    box-sizing: border-box;
                    padding: 0 20px;
                    padding-bottom: 10px;
                    font-family: 'Lora', serif;
                }

                .shareDiv{
                    margin: 10px 0;
                    margin-top: 25px;
                    box-sizing: border-box;
                padding: 0 20px;
                }

                .articleBody{
                    max-width: 100%;
                    overflow-x: hidden;
                    box-sizing: border-box;
                padding: 0 20px;
                    img{
                        width: 100% !important; 
                        height: auto;
                    }
                }



                .endLinkDiv{
                    .button1{
                        // border-radius: 8px;
                        // font-weight: bold;
                        border: solid 2px $black;
                        padding: 7px 14px;
                        text-decoration: none;
            
                        background-color: $darkGray;
                        font-family: 'Oswald', sans-serif;
            
                        display: block;
                        margin: 0 auto;
            
                        cursor: pointer;
            
                        color: $black;
                        width: fit-content;
            
                        
            
                        transition: all .25s ease;
            
                        &:hover{
                            border-color: $primaryColor;
                            color: $primaryColor;
                        }
                    }
                }
                
            }
        }
    }
}


@media only screen and (min-width: 800px){
    #app{
        .articlePage{
            .articleDiv{
                padding-bottom: 50px;

                .adDiv{
                    display: block;
                    border-radius: 10px;
                    background-color: $black;
                    width: 20%;
                    margin: 0;
                    margin-top: 290px;
                }
                .article{
                    width: 75%;
                    margin: 0;
                    margin-right: 30px;
                    .tags{
                        padding-top: 20px;
                        a{
                            font-size: medium;
                            
                        }
                        
                    }
                    .headerL{
                        font-size: 36px;
                        margin: 20px 0;
                    }
                }
            }
        }

        .end{
            .headerM{
                text-align: left;
                // font-size: x-large;
                width: 80%;
            }

            .postList{
                width: 90%;
                
                
            }

            .viewMore{
                margin-left: 120px !important;
            }
        }

    }
}


.searchPage{
    padding-top: 100px;

    .searchBar{
        margin: 0 auto;
    }

    .postDiv{
        .postList{
            flex-wrap: wrap !important;
            justify-content: center;
            overflow-x: visible !important;
        }
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 80px;
    }
    .recommededDiv{
        margin-top: 20px;
        padding-bottom: 60px;
    }
    .recommendedTags{
        width: 80%;
        max-width: 650px;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 50px 60px;

        box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.35); 

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        margin: 0 auto;
        

        a{
            margin: 15px;
            color: $primaryColor; 
            font-weight: bold;
            font-style: italic;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }

    }

}








//yt video
.ytVideo{
    // width: 300px;
    // height: 169px;
    width: 100%;
    height: 56.25vw;
    
    margin: 40px auto;
    // padding: 40px 0;
    
}

@media only screen and (min-width: 600px){
    .ytVideo{
        width: 500px;
        height: 281px;
        margin: 40px auto;
    }
    
}