.footer{
    
    padding: 60px 0px;
    padding-bottom: 0;
    

    .footLogo{
        height: 60px;
        width: 100%;
        margin: 20px auto;
        background-image: url('../images/brand/logo.png');
        background-position: center;
        // background-color: white;
    }

    text-align: center;

    .footNav{
        padding: 0 20px;
        border-bottom: solid 1px $primaryColor;
        .navList{

            

            .lastHover{
                margin-bottom: 0px;
            }

            .hoverList{
                width: 90%;
                margin: 10px auto;
                li{
                    margin-bottom: 0;
                    a{
                        font-size: x-small;
                        // padding: 5px !important;
                    }
                }
            }

            li{
                margin-bottom: 20px;
                text-align: left;
                a{
                    color: white;
                    // font-weight: bold;
                    font-size: small;
                    text-decoration: none;
                    padding: 5px;
                    text-align: left;

                    transition: all .3s ease;

                    &:hover{
                        // text-decoration: underline;
                        color: $primaryColor;
                    }
                }
            }
        }
    }


    .subscribeDiv{
        margin: 20px auto;
        input{
            margin: 5px 10px;
            padding: 3px 5px;

        }
        .button1{
            
            margin: 10px;
            margin-top: 20px;
            display: inline-block;
        }
    }

    .socialNav{
        .social{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            max-width: 600px;
            margin: 40px auto;
            li{
                

                a{
                    display: block;
                    height: 15px;
                    width: 15px;
                    padding: 3px;

                    transition: all .2s ease;

                    &:hover{
                        opacity: .8;
                    }
                }
            }
        }
    }

    .copyright{
        text-align: center;
        font-size: x-small;
    }
}


@media only screen and (min-width: 1000px){
    .footer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        max-width: 1000px;
        margin: 0 auto;
        padding: 30px;
        margin-top: 30px;

        border-top: solid 1px $primaryColor;
        .footSocial{
            width: 100%;
            padding: 30px 0;

            border-bottom: none !important;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            


            .subscribeDiv{
                margin: 0;
                margin-left: auto;
                width: fit-content;
                max-width: 380px;
                display: flex;
                flex-wrap: wrap;
                height: fit-content;

                .headerS{
                    margin: 0px !important;
                    text-align: left;
                    width: 100%;
                    max-width: 350px;
                    
                }

                .button1{
                    margin: 0;
                    margin-left: 10px;
                }

                input,.button1{
                    margin-top: 15px;
                }
            }
            

            .footNav{
                border-bottom: none !important;
                .navList{
                    
                    display: flex;
                    justify-content: flex-start;

                    .hoverList{
                        width: fit-content;
                        margin: 0;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        li{
                            a{
                                font-size: small;
                                color: $white;
                            }
                        }
                    }
                    li{
                        width: fit-content;
                        text-align: left;
                        margin-right: 15px;
                        a{
                            font-size: medium;
                            color: $white;
                        }
                    }
                }

                .social{
                    margin-left: 0;
                }
            }
        }

        .socialNav{
            width: 100%;
            .social{
                .img{
                    height: 15px;
                    width: 15px;
                }
            }
        }

        .footLogo{
            width: 100%;
            margin: 30px auto;
            display: block;
        }


        .copyright{
            width: 100vw;
        }
    }

}