.mainHeader{
    // display: none;
    position: fixed;
    z-index: 12;
    width: 100vw;
    background-color: $darkGray;
    color: $white;
    padding-bottom: 5px;

    .topBar{
        position: relative;
        z-index: 11;
        padding: 3px 10px;

        .subscribe{
            color: white;
            opacity: .8;
            font-size: x-small;
            cursor: pointer;
            text-decoration: underline;
            width: fit-content;

            display: block;
            margin-left: auto;
            margin-right: 0;

            transition: all .3s ease;

                    &:hover{
                        opacity: 1;
                    }
        }

        .social{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: fit-content;
            padding: 0;
            height: 0px;
            
            
            li{
                margin-left: 15px;
                a{
                    display: block;
                    height: 16px;
                    width: 16px;
                    // background-color: white;
                    // border-radius: 100px;
                    opacity: 1;
                    background-position: center;
                    background-size: contain;

                    transition: all .3s ease;

                    &:hover{
                        opacity: .8;
                    }
                }
            }
        }
    }

    .head{
        position: relative;
        z-index: 11;
        
        .logoBurger{
            display: flex;
            justify-content: space-between;
            align-items: center;
            // background-color: $white;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
            
            // width: 50%;
            margin: 0 auto;
            padding: 5px 15px;
            .mainLogo{
                // background-image: url('../images/brand/logo-hor-text.svg');
                // height: 35px;
                // width: 160px;
                cursor: pointer;
                color: white;
                text-decoration: none;
                font-size: x-large;
                position: relative;
                color: #caa55c;
                top: 2px;
                padding-bottom: 5px;
                .logoImg{
                    background-image: url('../images/brand/logo.png');
                    height: 30px;
                    width: 30px;

                    position: fixed;
                    top: 5px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                
            }

            .searchIcon{
                background-image: url('../images/icons/search-white.svg');
                height: 23px;
                width: 23px;
                cursor: pointer;
            }

            .burger{
                // width: 30px;
                // height: 24px;
                // margin: 0 auto;
                // transform: translateY(-50%);
                cursor: pointer;
                transition: all 0.3s ease;
                transform-origin: center;
              }
              .burger div{
                width: 22px;
                height: 3px;
                background-color: $white;
                margin-bottom: 4px;
                margin-left: 0;
                border-radius: 6px;
                transition: all 0.25s ease ;
              } 

              .burgerOn{
                  transform: translateX(5px);
                  div:nth-child(2){
                      opacity: 0;
                  }

                  div:nth-child(1){
                      transform: rotate(45deg) translateY(10px);
                  }

                  div:nth-child(3){
                    transform: rotate(-45deg) translateY(-10px);
                }
              }

        }

        .searchHead{
            background-color: $darkGray;
            border-radius: 0 0 5px 5px;
            box-sizing: border-box;
            padding: 12px 20px;

            display: flex;
            justify-content: center;
            align-items: center;

            position: fixed;
            width: 100%;

            opacity: 0;
            pointer-events: none;

            transition: all .3s ease;

            
            .img{
                background-image: url('../images/icons/search-white.svg');
                width: 20px;
                height: 20px;
                // padding: 5px;
                box-sizing: border-box;
            }

            .text{
                width: 100%;
                padding: 6px 13px;
                margin-right: 20px;
                border-radius: 5px;
                // border: solid 1px rgb(233, 233, 233);
                border: none;
                color: $black;

                font-family: 'Oswald', sans-serif;
                // font-weight: bold;
            }
            button{
                border: none;
                background-color: rgba(0,0,0,0);
                cursor: pointer;
            }
    
            
           
        }

        .searchOn{
            opacity: 1;
            pointer-events: all;
        }

        .mainNav{
            
            .navList{
                background-color: $darkGray;
                // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
                transform: translateY(-100%);
                opacity: 0;
                pointer-events: none;
                padding-bottom: 10px;

                transition: all .45s ease;

                
                

                list-style: none;
                width: 100vw;
                // height: 100vh;
                margin: 0;
                padding: 0; 
                
                position: fixed;
                z-index: 9;
                top: 65px;
                left: 0;

                .lastHover{
                    a{
                        padding-bottom: 5px;
                    }
                }

                .hoverList{
                    width: 90%;
                    margin: 0 auto;
                    li{
                        a{
                            font-size: small !important;
                        }
                        
                    }
                }
                li{
                    display: block;
                    width: 85%;
                        margin: 0 auto;

                        border-top: solid 1px #c3c9d8;

                        &:first-child{
                            border-top: none;
                        }
                    a{
                        color: $white;
                        text-decoration: none;
                        text-align: left;
                        display: block;
                        font-size: medium;
                        // font-weight: 600;
                        // opacity: .99;

                        padding: 20px 10px;

                        transition: all .3s ease;

                        &:hover{
                            color: $primaryColor;
                        }
                        
                    }
                }
            }

            
        }
        .navOn{
            .navList{
                transform: translateX(0);
                opacity: 1;
                pointer-events: all;
            }
            
        }
    }

    .categoryFloat{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100vw;
        // height: 20px;
        
        background-color: $darkGray;

        .list{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            overflow-x: scroll;
            margin: 0;
            padding: 0;

            li{
                padding: 4px 15px;
                padding-top: 0;
                font-size: medium;

                a{
                    text-decoration: none;
                    color: white;
                    padding: 5px 5px;

                    transition: all .2s ease;

                    &:hover{
                        color: $primaryColor;
                    }
                }
            }
        }
    }

}



@media only screen and (min-width: 1100px){
    .content{
        padding-top: 65px;
    }
    .mainHeader{
        top: 0;
        box-sizing: border-box;
        padding: 0 20px;

        .topBar{
            .social{
                margin-right: 20px;
            }
        }

        .categoryFloat{
            display: none;
        }
        

        .head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);


            .mainLogo{
                font-size: 36px;
            }

            .logoBurger{
                // width: 200px;
                // padding: 10px;
                margin: 0;
                // background-color: white;
                box-shadow: none;

                .mainLogo{
                    font-size: 36px;
                    .logoImg{
                        transform: translateX(0);
                        left: 35px;
                    }
                }
            }

            .burger{
                display: none;
            }

            .searchIcon{
                // order: 1;
                margin-left: 10px;
                display: none;

                transition: all .2s ease;

                &:hover{
                    opacity: .8;
                }
            } 

            .searchHead{
                display: none;
                position: static;
                border-radius: 0 0 10px 10px;

                width: fit-content;

                // background-color: white;

                .text{
                    border: solid 1px rgb(187, 187, 187);
                    background-color: $white;
                    color: $black;
                }

                .img{
                    background-image: url('../images/icons/search-white.svg');
                }

            }

            .mainNav{
                width: fit-content;
                order: 1;
                .navList{
                    position: static;
                    width: fit-content;
                    height: fit-content;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;

                    opacity: 1;
                    pointer-events: all;

                    transform: translateX(0);

                    // background-color: white;

                    .hoverList{
                        display: flex;
                        li{
                            a{
                                font-size: medium !important;
                            }
                        }
                    }

                    li{
                        padding: 0;
                        border-top: none;

                        a{
                            padding: 10px;
                            margin: 0 30px;
                            width: max-content;
                            border-top: none;

                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}