$primaryColor: #FFD700;
$darkGray: rgb(0, 0, 0);

$white: rgb(250, 250, 250);
$black: #161616;

body{
    overflow-x: hidden;
    font-family: 'Oswald', 'sans-serif';

    // h1,h2,h3,h4,h5,h6{
    //     font-family: 'Lora', 'serif';
    // }

    background-color: $darkGray;
    color: $white;

    .hidden{
        display: none;
    }

    .img{
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    
    
    .content{
        // background-color: white;
        text-align: center;
    }
        form{
            input,textarea,select{
                font-family: 'Oswald', sans-serif !important; 
            }
        }

        

        .bold{
            font-weight: bold;
        }
        .italic{
            font-style: italic;
        }
        .underline{
            text-decoration: underline;
        }

        .headerL{
            font-size: xx-large;
            // font-weight: bold;
            margin: 20px auto;
            display: block;
        }

        .headerM{
            font-size: x-large;
            // font-weight: bold;
            margin: 20px auto;
            display: block;
        }
        .headerS{
            font-size: large;
            // font-weight: bold;
            margin: 20px auto;
            display: block;
        }

        .description{
            font-size: medium;
            line-height: 1.6;
            text-align: left;
            padding: 0 20px;
            display: block;
            
        }

        .button1{
            // border-radius: 8px;
            // font-weight: bold;
            border: solid 2px $white;
            padding: 7px 14px;
            text-decoration: none;

            background-color: $darkGray;
            font-family: 'Oswald', sans-serif;

            display: block;
            margin: 0 auto;

            cursor: pointer;

            color: $white;
            width: fit-content;

            

            transition: all .25s ease;

            &:hover{
                border-color: $primaryColor;
                color: $primaryColor;
            }
        }

        
    
}


  